<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thirsty for Study</title>
</head>
<body>


<div class = 'container'>
    <h1><a href="/posts">Study Buddy</a></h1>
    {% block content %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    <form method ="GET" action="">
        <input type="text" name="q" placeholder="Search Posts" value="{% if query %}{{ query }}{% endif %}"/>
        <input type="submit" value="Search"/>
    </form>
    <table border="1">
        <tr>
            <th>Course</th>
            <th>Location</th>
            <th>Title</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.course }}</td>
            <td>{{ post.address }}</td>
            <td><a href="{{ post.slug }}"> {{ post.title }}</a></td>
            <td>{{ post.start_time}}</td>
            <td>{{ post.end_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="create/">add a new post</a></p>

    {% endblock content %}
</div>


</body>
</html>