{% extends "base.html" %}

{% block content %}
    <title>{{ post.title }}</title>
    <style>
        .elt {
            margin: 10px;
            float: left;
        }
    </style>
    <div class="elt">
        <ul class="list-group">
            <li class="list-group-item">Course: {{ post.course }}</li>
            <li class="list-group-item">Time: {{ post.start_time }} - {{ post.end_time }}</li>
            <li class="list-group-item">Location:  {{ post.preferred_location }}</li>
            <li class="list-group-item">Author: {{ post.author }}</li>
            <li class="list-group-item">Content: {{ post.content }}</li>
            <li class="list-group-item">Content: {{ post.timestamp }}</li>
            <li class="list-group-item">Modified: {{ post.updated }}</li>
        </ul>
        {% if user.is_authenticated %}
            {% if user.username == post.user.username %}
                <button><a href="modify/" style="text-decoration:none;"> modify post </a></button>
                <button><a href="delete/" style="text-decoration:none;"> delete post </a></button>
            {% endif %}
            <button><a href="comment/" style="text-decoration:none;"> post comment </a></button>
            <button><a href="attend/" style="text-decoration:none;"> attend </a></button>
        {% endif %}
        <h1>Comment Section</h1>
        {% for comment in comments %}
            <p>Author: {{ comment.user.username }}</p>
            <p>{{ comment.content }}</p>
            <p>{{ comment.timestamp }}</p><br>
        {% endfor %}

    </div>
    <div class="elt">
        MAP PLACEHOLDER
    </div>


{% endblock content %}