<!DOCTYPE html>
<html>
    <title>Register a New User</title>

    <body>
        <form id="register" method="post">

            {% csrf_token %}

            <div>
              {{ form.username.errors }}
              {{ form.username.label_tag }} {{ form.username }}
            </div>
            <div>
              {{ form.password1.errors }}
              {{ form.password1.label_tag }} {{ form.password1 }}
            </div>
            <div>
              {{ form.password2.errors }}
              {{ form.password2.label_tag }} {{ form.password2 }}
            </div>

            <br/>
            <input type="submit" name="submit" value="Register" />
        </form>

    </body>
</html>
